<div class="main-div">
    <div>
        <img width="500px" height="500px" class="img"
        src="https://www.mumbailive.com/images/media/images/images_1578470901754_IIT_Bombay.jpg?bg=857d63&crop=587.8125%2C330%2C0%2C0&fit=crop&fitToScale=h%2C1368%2C768&h=768&height=330&w=1368&width=660">
    </div>
    <div class="text-content">
        <h3>Indian Institute of Technology (Bombay)</h3>
        <h4>I always wanted to study here.</h4>
        <p>To login enter the following details </p>
        <p>UserId = 121</p>
        <p>Password = iitb</p>
    </div>
</div>